body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(images/header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul {
  list-style-type: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 120px;
}

@keyframes grow {
  from {
    font-size: 20px;
  }
  to {
    font-size: 50px;
  }
}

.container h1 {
  animation-name: grow;
  animation-duration: 2s;
  animation-fill-mode: both;
  color: green;
  font-size: 50px;
  text-shadow: 4px 4px 5px black;
}

hr {
  border-color: orange;
  border-width: 3px;
  max-width: 100px;
  box-shadow: 4px 4px 4px black;
}

.buffer {
  height: 30px;
<<<<<<< HEAD
  color: orange;
=======
  color: firebrick;
>>>>>>> 2ea3c8b43bafaaee54db9840be59d68a586f654d
  text-shadow: 2px 2px 3px black;
}

.btn {
  font: weight 700;;
  border-radius: 400px;
}

.btn-primary {
  background-color: green;
  border-color: green;
  box-shadow: 4px 4px 5px black;
}

.btn-primary:hover {
  background-color: orange;
  border-color: orange;
  border-width: 4px;
  box-shadow: 4px 4px 5px black;
}

.btn-xl {
  padding: 1rem 2rem;
}

